@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&family=JetBrains+Mono:wght@500;700&display=swap');

body {
  font-family: var(--font-family-base);
}
.code, .monospace {
  font-family: var(--font-family-monospace);
}
